infrastructure/n8n/workflows/ci-auto-sync.json
{
  "name": "CI Auto-Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "daily-trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "npm run sync:data"
      },
      "id": "npm-sync-data",
      "name": "npm-sync-data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "git diff --quiet apps/portfolio/data*.json; echo $?"
      },
      "id": "check-data-diff",
      "name": "check-data-diff",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exit-code-check",
              "leftValue": "={{ $json.stdout.trim() }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-changes",
      "name": "has-changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-synced",
              "name": "synced",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "field-reason",
              "name": "reason",
              "value": "no-changes",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-no-changes-data",
      "name": "respond-no-changes-data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "command": "npm run automate:ssot"
      },
      "id": "run-ssot",
      "name": "run-ssot",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "go run ./tools/ci/validate-cloudflare-native.go"
      },
      "id": "validate-cloudflare",
      "name": "validate-cloudflare",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "git restore apps/portfolio/worker.js"
      },
      "id": "restore-worker",
      "name": "restore-worker",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst Y = now.getFullYear();\nconst M = pad(now.getMonth() + 1);\nconst D = pad(now.getDate());\nconst h = pad(now.getHours());\nconst m = pad(now.getMinutes());\nconst s = pad(now.getSeconds());\nconst branchName = `chore/auto-sync-data-${Y}${M}${D}-${h}${m}${s}`;\nreturn [{ json: { branchName } }];"
      },
      "id": "gen-branch-name-data",
      "name": "gen-branch-name-data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "command": "={{ 'BRANCH=' + JSON.stringify($json.branchName) + ' && git checkout -b \"$BRANCH\" && git add apps/portfolio/data*.json && git commit -m \"chore: auto-sync data [automated]\" && git push \"https://oauth2:' + $env.GITLAB_TOKEN + '@' + $env.GITLAB_HOST + '/' + $env.CI_PROJECT_PATH + '.git\" \"$BRANCH\"' }}"
      },
      "id": "git-branch-commit-push-data",
      "name": "git-branch-commit-push-data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1850, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GITLAB_URL + '/api/v4/projects/' + $env.CI_PROJECT_ID + '/merge_requests' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "PRIVATE-TOKEN",
              "value": "={{ $env.GITLAB_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_branch: $('gen-branch-name-data').item.json.branchName, target_branch: 'master', title: 'chore: auto-sync data', description: 'Automated data sync from packages/data to apps/portfolio\\n\\n- [ ] Verify data integrity\\n- [ ] Check portfolio renders correctly', labels: 'sync,automated', remove_source_branch: true }) }}",
        "options": {}
      },
      "id": "create-mr-data",
      "name": "create-mr-data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2050, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "PV5yLgHNzNSlCmRT",
        "options": {}
      },
      "id": "notify-data",
      "name": "notify-data",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2250, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-synced",
              "name": "synced",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "field-mr-created",
              "name": "mr_created",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "field-mr-url",
              "name": "mr_url",
              "value": "={{ $('create-mr-data').item.json.web_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-success-data",
      "name": "respond-success-data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 0"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "weekly-trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 700]
    },
    {
      "parameters": {
        "command": "npm update --save"
      },
      "id": "npm-update",
      "name": "npm-update",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "git diff --quiet package-lock.json; echo $?"
      },
      "id": "check-lockfile-diff",
      "name": "check-lockfile-diff",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exit-code-check",
              "leftValue": "={{ $json.stdout.trim() }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-dep-changes",
      "name": "has-dep-changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [850, 700]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-synced",
              "name": "synced",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "field-reason",
              "name": "reason",
              "value": "no-changes",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-no-changes-deps",
      "name": "respond-no-changes-deps",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 900]
    },
    {
      "parameters": {
        "command": "npm run automate:full"
      },
      "id": "run-automate-full",
      "name": "run-automate-full",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst Y = now.getFullYear();\nconst M = pad(now.getMonth() + 1);\nconst D = pad(now.getDate());\nconst h = pad(now.getHours());\nconst m = pad(now.getMinutes());\nconst s = pad(now.getSeconds());\nconst branchName = `chore/auto-update-deps-${Y}${M}${D}-${h}${m}${s}`;\nreturn [{ json: { branchName } }];"
      },
      "id": "gen-branch-name-deps",
      "name": "gen-branch-name-deps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 600]
    },
    {
      "parameters": {
        "command": "={{ 'BRANCH=' + JSON.stringify($json.branchName) + ' && git restore apps/portfolio/worker.js apps/portfolio/data*.json && git checkout -b \"$BRANCH\" && git add package.json package-lock.json && git commit -m \"chore: auto-update deps [automated]\" && git push \"https://oauth2:' + $env.GITLAB_TOKEN + '@' + $env.GITLAB_HOST + '/' + $env.CI_PROJECT_PATH + '.git\" \"$BRANCH\"' }}"
      },
      "id": "git-branch-commit-push-deps",
      "name": "git-branch-commit-push-deps",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GITLAB_URL + '/api/v4/projects/' + $env.CI_PROJECT_ID + '/merge_requests' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "PRIVATE-TOKEN",
              "value": "={{ $env.GITLAB_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_branch: $('gen-branch-name-deps').item.json.branchName, target_branch: 'master', title: 'chore: auto-update deps', description: 'Automated weekly dependency update\\n\\n- [ ] Review dependency changes\\n- [ ] Verify no breaking changes', labels: 'dependencies,auto-merge', remove_source_branch: true }) }}",
        "options": {}
      },
      "id": "create-mr-deps",
      "name": "create-mr-deps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1650, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "PV5yLgHNzNSlCmRT",
        "options": {}
      },
      "id": "notify-deps",
      "name": "notify-deps",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1850, 600]
    }
  ],
  "connections": {
    "daily-trigger": {
      "main": [
        [
          {
            "node": "npm-sync-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "npm-sync-data": {
      "main": [
        [
          {
            "node": "check-data-diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-data-diff": {
      "main": [
        [
          {
            "node": "has-changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has-changes": {
      "main": [
        [
          {
            "node": "run-ssot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-no-changes-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run-ssot": {
      "main": [
        [
          {
            "node": "validate-cloudflare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-cloudflare": {
      "main": [
        [
          {
            "node": "restore-worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "restore-worker": {
      "main": [
        [
          {
            "node": "gen-branch-name-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gen-branch-name-data": {
      "main": [
        [
          {
            "node": "git-branch-commit-push-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git-branch-commit-push-data": {
      "main": [
        [
          {
            "node": "create-mr-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create-mr-data": {
      "main": [
        [
          {
            "node": "notify-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notify-data": {
      "main": [
        [
          {
            "node": "respond-success-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "weekly-trigger": {
      "main": [
        [
          {
            "node": "npm-update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "npm-update": {
      "main": [
        [
          {
            "node": "check-lockfile-diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-lockfile-diff": {
      "main": [
        [
          {
            "node": "has-dep-changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has-dep-changes": {
      "main": [
        [
          {
            "node": "run-automate-full",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-no-changes-deps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run-automate-full": {
      "main": [
        [
          {
            "node": "gen-branch-name-deps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gen-branch-name-deps": {
      "main": [
        [
          {
            "node": "git-branch-commit-push-deps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git-branch-commit-push-deps": {
      "main": [
        [
          {
            "node": "create-mr-deps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create-mr-deps": {
      "main": [
        [
          {
            "node": "notify-deps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul"
  },
  "staticData": null,
  "tags": [
    {
      "id": "tag-ci",
      "name": "ci"
    },
    {
      "id": "tag-sync",
      "name": "sync"
    }
  ]
}
